@model IEnumerable<ACMWebsite.Models.Announcement>

@{
    ViewData["Title"] = "Index";
}



<h1>Announcements</h1>
@if (User.Identity.IsAuthenticated)
{
    <!--<button type="button" class="btn btn-primary">Add an Announcement</button>-->
    <!--<input type="button" class="btn btn-primary" value="Create" onclick="location.href='@Url.Action("Create", "Announcement")'">-->
    <button  class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Announcements")'">Create Announcement</button>
}

<style>
    .announcement-title {
        color: black;
        font-weight: bolder;
        font-size: 30px;
    }

    .announcement-body {
        color: black;
        padding: 10px;
    }


    .announcement {
        background-color: #e3e3e3;
        border-radius: 5px;
        width: 800px;
        padding: 10px;
        margin: 20px;
    }

    .mod-actions {
    }

    .mod-item {
        margin-left: 10px;
        margin-right: 10px;
    }
</style>



@foreach (var item in Model)
{
    <div class="announcement">
        <p class="announcement-title"> @Html.DisplayFor(modelItem => item.Title)</p>
        <p class="announcement-body">@Html.DisplayFor(modelItem => item.Body)</p>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="mod-actions">
                <a class="mod-item" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="mod-item" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>
        }
    </div>
}


@*
    @foreach (var item in Model)
    {



    }
*@



@*
    <p>
        <a asp-action="Create">Create New</a>
    </p>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Body)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DatePosted)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Body)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatePosted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
*@